
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
body {
font-family: 'Roboto', sans-serif;
font-size:15px;
background-color:rgb(26, 24, 24);
margin:0;
padding: 0;
}
header {
padding:10px;
border-bottom: 1px solid #3a3838;
}
.title-blog  {

color:rgb(255, 255, 255);
font-size: 30px;
text-align: center;
display:flex;
justify-content: center;
width: 100%;
    
}
h1 .green {
color:rgb(17, 141, 24);  
}
ul, li {
margin:0;
padding:0;
list-style:none;
}
ul {
display:flex;
justify-content:center;
align-items:center;
}
li {
padding:10px;
}
a {
color:rgb(224, 220, 220);
text-decoration:none;
font-size: 18px;
text-transform: uppercase;
display: block;
}
.menu-hover:hover {
    color:#0fac29;
    transition: all 0.2s linear;
}
.post .buttons {

    display:flex;  

}

.post-button {
color:#FFF;
padding-bottom: 20px;
font-size: 12px;
flex: 1;
text-align: center;
background-color:rgb(26, 24, 24);
margin:0 10px;
padding: 10px;
border-radius: 10px;
box-shadow: 0px 0px 4px #0fac29;

}

.post-button:hover {
    
background-color:rgba(11, 80, 14, 0.8);
transition: all 0.2s linear;
box-shadow: none;
    
}


.warning {
border:2px solid #0fac29;
background-color:rgb(11, 80, 14);
color:#FFF;
padding:10px 20px;
border-radius:5px;
}
.post {
width:300px;
display:inline-block;
box-shadow:0px 0px 10px #0fac29;
padding:10px;
margin:50px;
border-radius:5px;
overflow:hidden;
background-color: #3a3838;
}
.post img {
max-width:100%;
}

.title-post {

    margin-left: 19px;
}

.title-post .title-hover:hover {

color:#0fac29;
transition: all 0.2s linear;

}

.post .body-p p {
    
color:#FFF;
font-size: 18px;
margin-left: 18px;

}

.tag-post {

    color: #FFF;
    margin-left: 18px;
}
form {
margin:20px auto;
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;
background-color: #3a3838;
border-radius: 50px;
width: 50%;
box-shadow: 0px 0px 10px #0fac29;

}
label {
display:inline-block;
margin:10px 0;
color: #FFF;
font-size: 18px;

}
input, textarea {
display:block;
padding:8px 15px;
border:2px solid #CCC;
font-size:16px;
outline:0;
resize:none;
margin-top:5px;
width:400px;
}
textarea {
height:200px;
}
input[type=submit]{
border-radius: 10px;    
cursor:pointer;
}
input[type=submit]:hover {
background-color:rgba(11, 80, 14, 0.8);
box-shadow: 0px 0px 10px #0fac29;
transition: all 0.2s linear;
color: #FFF;
cursor:pointer;
}
.tags {
display:flex;
justify-content: center;
align-items:center;
margin-top:10px;
}
.tags .tag {
padding:10px;
}
.tag.selected a {
color:#FF0000;
}